@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2b2e33;

  --color-primary: #0b1fa3;
  --color-primary-dark: #081577;
  --color-accent: #ff5d02;
  --color-neutral-light: #f5f7fa;
  --color-neutral-dark: #2b2e33;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-accent: var(--color-accent);
  --color-neutral-light: var(--color-neutral-light);
  --color-neutral-dark: var(--color-neutral-dark);
  --font-sans: var(--font-body);
  --font-arabic: var(--font-arabic);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media (pointer: fine) {
  body.custom-cursor-active,
  body.custom-cursor-active a,
  body.custom-cursor-active button {
    cursor: none;
  }
}
